POSTGRES_DB=simulationdb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

DB_HOST=localhost
DB_PORT=5432
DB_NAME=simulationdb
DB_USERNAME=postgres
DB_PASSWORD=postgres

KIS_ENABLED=false
KIS_APP_KEY=
KIS_APP_SECRET=
KIS_BASE_URL=https://openapi.koreainvestment.com:9443
KIS_MARKET_DIV_CODE=J
